# Compiled Sources #
*.o
simulator
strang-splitting-test
hdf5_writer_test
*.a

# Build Process #
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake

# Testing #
Testing
fft_test
hdf5_test

# Logs #
*.log

#hdf5 files#
*.hdf5

# Workspace stuff #
*.sublime*